<style>
    * {
    color: white;
  }

    .card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card.highlight-card {
  background-color: #006FA9;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

p {
  margin: 0;
}
</style>

<div class="card highlight-card">
  <span>Stage au Ministère de l'intérieur - Full time</span>
</div>
<h2>14 Juillet 2020 - 31 Décembre 2020</h2>
<p>J'ai eu la chance d'effectuer ce stage pour ma première expérience<br>
    au sein d'une petite équipe chargée de développer la partie "Asile"<br>
    d'une applicaiton servant aux demandes de nationnalités, côté agent.<br>
    Cette expérience m'a appris le développement Agile et m'a fourni une<br>
    première approche du développement web.<br>
    J'ai ainsi pu me former puis effectuer différents tickets et ajouts<br>
    de fonctionnalités.
</p>