<style>
    * {
    color: white;
  }

      .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card.highlight-card {
    background-color: #006FA9;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  p {
    margin: 0;
  }
</style>

<div class="card highlight-card">
    <span>Stage au Ministère de l'intérieur - Part time</span>
</div>
<h2>14 Octobre 2021 - 31 Mars 2022</h2>
<p>J'ai effectué ce stage à temps partiel afin de compléter mes compétences.<br>
  Effectuer celui-ci au sein du ministère de l'intérieur a eu plusieurs but:<br>
  Tout d'abord, j'ai pu mieux comprendre le cycle de vie d'une application.<br>
  Ensuite, j'ai pu me montrer efficace malgré les 2 jours de présence sur le projet<br>
  Enfin, j'ai pu voir, de l'intérieur, le fonctionnement d'une équipe plus conséquente
</p>