<style>
    .card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

p {
  margin: 0;
}
</style>

<div class="card highlight-card">
  <span>Intérimaire chez Addeco - Full time</span>
</div>
<h2>14 Juillet 2019 - 7 Septembre 2019</h2>
<p>
    J'ai effectué ces missions d'intérim en tant qu'emploi saisonier.<br>
    Celles-ci m'ont permis de découvrir différentes facettes du monde du travail<br>
    tel que la vente, la manutention, le travail de déménageur, la distribution, etc<br>
    Cette expérience m'a appris la difficulté du travail en entreprise, ainsi que<br>
    la chance que représente le fait d'avoir un travail plaisant, dans un domaine<br>
    qui nous passionne.
</p>
