<style>
    .card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

p {
  margin: 0;
}
</style>

<div class="card highlight-card">
  <span>Gaël Baron</span>
</div>
<h2>Recherche de stage du 1 Avril au 31 Juillet</h2>
<p>
    Bonjour,<br>
    Je suis passionné par la programmation, motivé, curieux et rigoureux.<br>
    J'aime apprendre et découvrir de nouvelles facettes de la programmation,<br>
    nouvelles technologies, ou nouvelles méthodologies de travai.<br>
    Par ailleurs je souhaiterais progresser dans les différents langages<br>
    que j'ai déjà pu expérimenter.
</p>
